@import "@/design-system.scss";

.list {
  >div {
    display: flex;
    flex-wrap: wrap;
    gap: 0 8px;
    align-items: center;
    justify-content: center;
  }

  >.subcommon {
    opacity: 0.5;
  }

  >.uncommon {
    opacity: 0.7;
    color: $c-red-b2;
  }

  a {
    color: inherit;
  }
}